.header {
    padding: 60px;
    text-align: center;
    background: #1abc9c;
    color: white;
    font-size: 30px;
  }
  nav  {
      padding: 20px;
      text-align: center;
      background-attachment:fixed; 
      color: blue;
      font-size: 30px;
  }
article {
    padding: 20px;
    text-align: center;
    background-attachment: fixed;
    color: aquamarine;
    font-size: 10px;
}
h1 {
    padding: 20px;
    text-align: center;
    background-attachment: fixed;
    color: #000;
    font-size: 10px;

}
h2 {
    padding: 20px;
    text-align: center;
    background-attachment: fixed;
    color: bisque;
    font-size: 10px;
}
h3 {
    padding: 20px;
    text-align: center;
    color: crimson;
    font-size: 10px;
    
}
